/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body takes the full height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Applicant Container */
.applicant-container {
    background-color: #f6f6ff; /* Background color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60vw; /* Responsive width based on viewport width */
    max-width: 1500px; /* Maximum width for larger screens */
    height: 95vh; /* Responsive height based on viewport height */
    min-height: 400px; /* Minimum height for smaller screens */
    max-height: 95vh; /* Maximum height for taller screens */
    color: #222222; /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsive font size based on viewport height */
@media (max-height: 600px) {
    .applicant-container {
        font-size: 11px; /* Smaller font size for shorter screens */
    }
}

@media (min-height: 601px) and (max-height: 800px) {
    .applicant-container {
        font-size: 13px; /* Medium font size for medium height screens */
    }
}

@media (min-height: 801px) {
    .applicant-container {
        font-size: 14px; /* Larger font size for taller screens */
    }
}

.applicant-container h1 {
    font-size: 2em; /* Heading font size */
    margin-bottom: 20px;
    color: #222222;
}

.applicant-container p {
    text-align: left;
    margin-bottom: 15px;
}

.applicant-container h5 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.instructions {
    text-align: left;
    margin-bottom: 40px;
}

.instructions h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.instructions ul {
    list-style-type: disc;
    padding-left: 20px;
}

.instructions ul li {
    margin-bottom: 10px;
}

/* Form Styling */
.applicant-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.applicant-container label {
    display: none; /* Hide the label */
}


.applicant-container input[type="name"],
.applicant-container input[type="email"],
.applicant-container input[type="text"] {
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em; /* Responsive font size */
    width: 60%;
}

.applicant-container input::placeholder {
    font-size: 14px;
    color: #aaa;
}

/* Button Styling */
.applicant-container button {
    padding: 12px;
    background-color: #9885ff; /* Button color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    width: 40%;
    font-size: 1em; /* Responsive font size */
}

.applicant-container button:hover {
    background-color: #7a6cd9; /* Darker shade on hover */
}

.applicant-container .forgot-password-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #2d005e;
    text-decoration: none;
    text-align: right;
}

.applicant-container .forgot-password-link:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .applicant-container {
        width: 60vw; /* Adjusted width for larger screens */
    }
}

/* Powered by section */
.powered-by {
    margin-top: auto;
    text-align: center;
    font-size: 14px;
    color: #222222;
}

.powered-by img {
    margin-top: 25px;
    width: 50px;
    height: auto;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

/* CONFIRM BOX STYLES */


.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    text-align: center;
}

#confirm-yes, #confirm-no {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#confirm-yes {
    background-color: #ddd8ff;
    color: rgb(0, 0, 0);
}

#confirm-no {
    background-color: rgb(255, 167, 167);
    color: white;
}