/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body takes the full height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.auth-container h2 {
    margin-bottom: 20px; /* Increase space below each heading */
}

/* Auth Container */
.auth-container {
    background-color: #fff;
    color: #03005b; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Responsive width */
    max-width:400px; /* Limit the max width */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Responsive font size based on viewport height */
@media (max-height: 600px) {
    .auth-container {
        font-size: 11px; /* Smaller font size for shorter screens */
    }

    .auth-container h2 {
        font-size: 1.5em;
    }

    .auth-container input {
        font-size: 0.8em;
    }

    .auth-container button {
        font-size: 0.8em;
    }

    .auth-container .register-link,
    .auth-container .forgot-password-link {
        font-size: 0.8em;
    }
}

@media (min-height: 601px) and (max-height: 800px) {
    .auth-container {
        font-size: 12px; /* Medium font size for medium height screens */
    }

    .auth-container h2 {
        font-size: 1.7em;
    }

    .auth-container input {
        font-size: 1em;
    }

    .auth-container button {
        font-size: 1em;
    }

    .auth-container .register-link,
    .auth-container .forgot-password-link {
        font-size: 0.9em;
    }
}

@media (min-height: 801px) {
    .auth-container {
        font-size: 14px; /* Larger font size for taller screens */
    }

    .auth-container h2 {
        font-size: 2em;
    }

    .auth-container input {
        font-size: 1.2em;
    }

    .auth-container button {
        font-size: 1.2em;
    }

    .auth-container .register-link,
    .auth-container .forgot-password-link {
        font-size: 1em;
    }
}



/* Form Elements */
.auth-container form {
    max-width: 400px; /* Set a max width for forms */
    margin: 0 auto; /* Center the form */
    margin-top: 40px;
}


.auth-container input[type="email"],
.auth-container input[type="password"],
.auth-container input[type="name"],
.auth-container input[type="text"] {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    width: 100%; /* Ensure inputs take the full width */
    max-width: 100%; /* Ensure inputs do not overflow the form */

}

.auth-container input::placeholder {
    font-size: 14px;
    color: #aaa;
}

/* Button Styling */
.auth-container button {
    padding: 12px;
    background-color: #03005b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

.auth-container button:hover {
    background-color: #020046;
}

/* Links */
.auth-container .register-link,
.auth-container .forgot-password-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #03005b;
    text-decoration: none;
}

.auth-container .forgot-password-link {
    text-align: right;
}

.auth-container .register-link:hover,
.auth-container .forgot-password-link:hover {
    text-decoration: underline;
}

/* Tunz Branding */
.auth-container .tunz-branding {
    margin-top: 10vh;
    text-align: center;
}

.auth-container .tunz-branding p {
    color: #03005b;
    font-size: 14px;
    margin-bottom: 5px;
}

.auth-container .tunz-branding img {
    width: 80px;
    height: auto;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .auth-container {
        width: 100%;
    }
}
