

{% extends 'base.html' %}

{% block title %}Admin Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles_auth.css') }}">

<body>
    <div class="login-container">
        <h2>WELCOME DEAR ADMIN</h2>
        <h2>Please Login</h2>
        <form action="{{ url_for('auth.admin_login') }}" method="POST">
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <a href="{{ url_for('auth.request_reset_password') }}" class="forgot-password-link">Forgot Password?</a>
            <button type="submit">Login now</button>
        </form>
        <a href="{{ url_for('auth.admin_register') }}" class="register-link">Register</a>
    </div>
    <script src="{{ url_for('static', filename='static/js/admin_login.js') }}"></script>
</body>
{% endblock %}
