{% extends 'base_auth.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<h2>👋 WELCOME DEAR ADMIN</h2>
<h2>Please Login</h2>
<form action="{{ url_for('auth.admin_login') }}" method="POST">
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
    <a href="{{ url_for('auth.request_reset_password') }}" class="forgot-password-link">Forgot Password?</a>
    <button type="submit">Login now</button>
</form>
<a href="{{ url_for('auth.admin_register') }}" class="register-link">Register</a>

<!-- Tunz.ai Branding -->
<div class="tunz-branding">
    <p>Powered by Tunz.ai</p>
    <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="Tunz.ai Logo">
</div>

<!-- Flash messages handling -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for category, message in messages %}
                alert("{{ message }}");  // Popup the flash message as an alert
            {% endfor %}
            // Optionally, redirect after showing the alert
            setTimeout(function() {
                window.location.href = "{{ url_for('auth.admin_login') }}";
            }, 1000);  // Adjust the timeout as needed
        });
    </script>
{% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='static/js/admin_login.js') }}"></script>
{% endblock %}
