{% extends 'base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>👋 WELCOME TO TUNZ</h2>
    <h2>Please Login</h2>
    <form id="login-form">
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <a href="{{ url_for('auth.request_reset_password') }}" class="forgot-password-link">Forgot Password?</a>
        <button type="submit">Login now</button>
    </form>
    <a href="{{ url_for('auth.register') }}" class="register-link">Register</a>

    <!-- Tunz.ai Branding -->
    <div class="tunz-branding">
        <p>Powered by Tunz.ai</p>
        <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="Tunz.ai Logo">
    </div>

    <!-- Flash messages handling -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    {% for category, message in messages %}
                        alert("{{ message }}");  // Popup the flash message as an alert
                    {% endfor %}
                    // Optionally, redirect after showing the alert
                    setTimeout(function() {
                        window.location.href = "{{ url_for('auth.login') }}";
                    }, 1000);  // Adjust the timeout as needed
                });
            </script>
        {% endif %}
    {% endwith %}

    <script>
        document.getElementById('login-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            
            try {
                const response = await fetch('{{ url_for("auth.login") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                    credentials: 'include'  // Important: This ensures that cookies are included in the request
                });
                
                const data = await response.json();
                
                if (response.ok) {
                    // Redirect to the home page
                    window.location.href = data.redirect_url;
                } else {
                    alert(data.msg);
                }
            } catch (error) {
                console.error("Error during login:", error);
            }
        });
    </script>
    
{% endblock %}
