{% extends 'base_auth.html' %}

{% block title %}Register{% endblock %}
{% block content %}
<h2>👋 WELCOME TO TUNZ</h2>
<h2>Please Register</h2>
<p>You password must be robust: At least 8 characters, one upper case letter, one digit, one special character</p>
<form id="register-form">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Please enter your name" required>
    <label for="surname"></label>
    <input type="text" id="surname" name="surname" placeholder="Please enter your surnname" required>
    <label for="company_name"></label>
    <input type="text" id="company_name" name="company_name" placeholder="Please enter your company name" required>
    <label for="email"></label>
    <input type="email" id="email" name="email" placeholder="Please enter your email" required>
    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="Please enter your password" required>
    <label for="confirm-password"></label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Please confirm your password" required>
    <button type="submit">Register</button>
</form>
<a href="{{ url_for('auth.login') }}" class="register-link">Already have an account?</a>

    <!-- Tunz.ai Branding -->
<div class="tunz-branding">
    <p>Powered by Tunz.ai</p>
    <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="Tunz.ai Logo">
</div>

<script>
    document.getElementById('register-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const name = document.getElementById('name').value;
        const surname = document.getElementById('surname').value;
        const company_name = document.getElementById('company_name').value;

        if (password !== confirmPassword) {
            alert('Passwords do not match');
            return;
        }

        const response = await fetch('{{ url_for('auth.register') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password, confirm_password: confirmPassword, name, surname, company_name })
        });

        const data = await response.json();
        if (response.ok) {
            alert('✅ Registration successful: Pending admin approval. You will receive an email when your registration is validated.');
            window.location.href = '{{ url_for('auth.login') }}';
        } else {
            alert(data.msg);
        }
    });
</script>

{% endblock %}