{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles_auth.css') }}">

<body>
    <div class="login-container">
        <h2>WELCOME TO TUNZ</h2>
        <h2>Please Register</h2>
        <form id="register-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Please enter your name" required>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" placeholder="Please enter your surnname" required>
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Please enter your company name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Please enter your email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Please enter your password" required>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Please confirm your surnname" required>
            <button type="submit">Register</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="register-link">Already have an account?</a>
    </div>
</body>

<script>
    document.getElementById('register-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const name = document.getElementById('name').value;
        const surname = document.getElementById('surname').value;
        const company_name = document.getElementById('company_name').value;

        if (password !== confirmPassword) {
            alert('Passwords do not match');
            return;
        }

        const response = await fetch('{{ url_for('auth.register') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password, confirm_password: confirmPassword, name, surname, company_name })
        });

        const data = await response.json();
        if (response.ok) {
            alert('Registration successful');
            window.location.href = '{{ url_for('auth.login') }}';
        } else {
            alert(data.msg);
        }
    });
</script>

{% endblock %}