{% extends 'base.html' %}

{% block title %}Request Password Resest{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles_auth.css') }}">

<body>
    <div class="login-container">
        <h2>Password Reset Request</h2>
        <p>After sending your request, you will receive an email with a link to reset your password.</p>
        <form action="{{ url_for('auth.request_reset_password') }}" method="POST">
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <a href="{{ url_for('auth.login') }}" class="forgot-password-link">Back to login?</a>
            <button type="submit">Request password reset</button>
        </form>
    </div>
</body>
{% endblock %}