{% extends 'base_auth.html' %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}
    <h2>Password Reset Request</h2>
    <p>After sending your request, you will receive an email with a link to reset your password.</p>
    <form id="reset-password-form">
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <a href="{{ url_for('auth.login') }}" class="forgot-password-link">Back to login?</a>
        <button type="submit">Request password reset</button>
    </form>

    <!-- Tunz.ai Branding -->
    <div class="tunz-branding">
        <p>Powered by Tunz.ai</p>
        <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="Tunz.ai Logo">
    </div>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();

            const email = document.getElementById('email').value;

            const response = await fetch('{{ url_for('auth.request_reset_password') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            });

            const data = await response.json();

            if (response.ok) {
                // On success, alert the user with the message
                alert(data.msg);
                window.location.href = "{{ url_for('auth.login') }}";  // Redirect to login page
            } else {
                // Display the error message as a popup
                alert(data.msg);
            }
        });
    </script>
{% endblock %}

