{% extends 'base.html' %}

{% block title %}Request Password Resest{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles_auth.css') }}">

<body>
    <div class="login-container">
        <h2>Reset your password</h2>
        <p>After confirming your new password, you will be redirected to the login page where you can use your new credentials</p>
        <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
            <input type="password" id="password" name="password" placeholder="Enter your new password" required>
            <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm your new password" required>
            <button type="submit">Reset your password</button>
        </form>
    </div>
</body>
{% endblock %}