<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Review Your Interview</h1>
    <p>Please fill out the survey below to see your interview feedback.</p>
    <form method="POST" action="{{ url_for('main.applicant_review', hr_id = hr_id, interview_id = interview_id, interview_parameter_id = interview_parameter_id, session_id=session_id, applicant_id = applicant_id) }}">
        {{ form.hidden_tag() }}
        {% for idx in range(questions|length) %}
            <div>
                <label>{{ questions[idx] }}</label><br>
                {{ form.questions[idx].rating(class_="form-control") }}
            </div>
        {% endfor %}
        <div>
            <label>{{ form.comment.label }}</label>
            {{ form.comment(class_="form-control") }}
        </div>
        <div>
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</body>
</html>
