<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{{ url_for('static', filename='static/js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/chat-input.js') }}"></script>
    <script src="{{ url_for('static', filename='static/js/chat-audio.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles_chat.css') }}">
</head>
<body>
    <div class="chat-container">
        <!-- Upper Section -->
        <div class="upper-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="logo">
                <div>
                    <h1>Tunz Ai</h1>
                    <div class="live-interview-wrapper">
                        <span class="green-chip"></span> 
                        <p>Live interview</p>
                    </div>
                </div>
            </div>
            <div class="timer-wrapper" id="timer" 
                data-duration="{{ duration }}" 
                data-finish-url="{{ url_for('main.finish_chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id) }}"
                data-finished="{{ 'true' if is_finished else 'false' }}"
                data-session-id="{{ session_id }}">
                <span id="timer-value">Time remaining: {{ remaining_time }}</span>
            </div>
        </div>

        <!-- Chat Body with Sidebar and Main Chat Area -->
        <div class="chat-body">
            <!-- Left Sidebar -->
            <div class="chat-sidebar-left">
                <h3>Welcome {{ applicant_name }} {{ applicant_surname }}</h3>
                <p><strong>{{ interview.name }}, Round 1 </strong></p>
                <p> {{ company.name }}, Paris, France</p>
                <div class="powered-by">
                    <p>Powered by Tunz.ai</p>
                    <img src="{{ url_for('static', filename='static/enhanced_tunz_logo_only.png') }}" alt="logo">
                </div>
            </div>

            <!-- Main Chat Container -->
            <div class="main-chat-container">
                <!-- Chat Content -->
                <div id="chat-box">
                    {% for question in questions %}
                    <div class="message-container assistant-container" data-question-id="{{ question.id }}" data-timestamp="{{ timestamp }}" data-session-id="{{ question.session_id }}"  data-file-path="{{ url_for('static', filename=question.audio_file_path) }}" >
                        <img src="{{ url_for('static', filename='static/andy.png') }}" alt="Andy" class="message-icon">
                        <div class="message assistant">
                            <p>{{ question.content | replace('\n', '<br>') | safe }}</p>
                            {% if question.audio_file_path %}
                            <!-- Automatically play the assistant's response audio -->
                            <audio id="assistant-audio-{{ question.id }}" autoplay>
                                <source src="/static/{{ question.audio_file_path }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            {% endif %}
                        </div>
                    </div>                                     
                    {% for answer in answers %}
                    {% if answer.question_id == question.id %}
                    <div class="message-container user-container">
                        <div class="message user">
                            <p>{{ answer.content | replace('\n', '<br>') | safe }}</p>
                        </div>
                        <img src="{{ url_for('static', filename='static/user_icon.png') }}" alt="Andy" class="message-icon">
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% if is_finished %}
                    <div class="message-container assistant-container">
                        <img src="{{ url_for('static', filename='static/andy.png') }}" alt="Andy" class="message-icon">
                        <div class="message assistant">
                            <p>{{ thank_you_message | replace('\n', '<br>') | safe }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>                

                <!-- Chat Input -->
                <div class="chat-input">
                    {% if not is_finished %}
                    <form action="{{ url_for('main.chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id, thread_id=thread_id) }}" method="post" id="chat-form">
                        <input type="hidden" name="question_id" value="{{ questions[-1].id }}">
                        <input type="hidden" name="thread_id" value="{{ thread_id }}">
                        
                        <!-- Textarea that spans 80% of the width -->
                        <textarea name="answer" id="chat-textarea" required placeholder="Please enter your answer"></textarea>
                        
                        <!-- Icons next to the textarea -->
                        <div class="icons">
                            <i class="fas fa-microphone"></i>
                            <i class="fas fa-smile"></i>
                            <i class="fas fa-image"></i>
                        </div>
                        
                        <!-- Send Button -->
                        <button type="submit" id="send-button">Send</button>
                    </form>
                    
                    {% else %}
                    <form method="get" action="{{ url_for('main.finish_chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id) }}">
                        <button type="submit">Finish Interview</button>
                    </form>
                    {% endif %}
                </div>
            </div>

            <!-- Right Sidebar -->
            <div class="chat-sidebar-right">
                <img src="{{ url_for('static', filename='static/andy.png') }}" alt="Andy">
                <h3>Andy</h3>
                <span class="status-chip">Currently Online</span>
            </div>
        </div>
    </div>
</body>
</html>
