{% extends 'base.html' %}

{% block title %}Chat{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<script src="{{ url_for('static', filename='static/js/chat.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/chat-input.js') }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="chat-container">
    <div class="chat-sidebar-left">
        <div class="search-bar">
            <input type="text" placeholder="Search chats">
        </div>
        <div class="chat-list">
            <div class="text-center">
                <div class="chat-item">
                    <h4> Interview of</h4>
                    <p> {{applicant.name}} {{applicant.surname}}</p>
                </div>
                <div class="chat-item">
                    <h4> Company</h4>
                    <p> {{company.name}}</p>
                </div>
                <div class="chat-item">
                    <h4>Hiring Manager</h4>
                    <p> {{hr.name}} {{hr.surname}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-content">
        <div class="chat-header">
            <div class="chat-header-left">
                <h3>Live Interview for a {{interview_parameter.role}} position in the {{interview_parameter.industry}} industry</h3>
                <p>Powered by Tunz.AI</p>
            </div>
            <div class="chat-header-right">
                <button>Get help</button>
                <button>Ask for a hint!</button>
                <button>Send images</button>
                <button>More options</button>
            </div>
        </div>
        <div id="chat-box">
            {% for question in questions %}
            <div class="message assistant">
                <p>{{ question.content | replace('\n', '<br>') | safe }}</p>
            </div>
            {% for answer in answers %}
            {% if answer.question_id == question.id %}
            <div class="message user">
                <p>{{ answer.content | replace('\n', '<br>') | safe }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% if is_finished %}
            <div class="message assistant">
                <p>{{ thank_you_message | replace('\n', '<br>') | safe }}</p>
            </div>
            {% endif %}
        </div>        
        <div class="chat-input">
            {% if not is_finished %}
            <form action="{{ url_for('main.chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id, thread_id=thread_id) }}" method="post" id="chat-form">
                <input type="hidden" name="question_id" value="{{ questions[-1].id }}">
                <input type="hidden" name="thread_id" value="{{ thread_id }}">
                <textarea name="answer" id="chat-textarea" required placeholder="Enter your message"></textarea>
                <div class="chips-container">
                    <!-- Chips will be added here dynamically if needed -->
                </div>
                <div class="icons">
                    <i class="fas fa-microphone"></i>
                    <i class="fas fa-smile"></i>
                    <i class="fas fa-image"></i>
                </div>
                <button type="submit" id="send-button">Send</button>
            </form>
            {% else %}
            <form method="get" action="{{ url_for('main.finish_chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id) }}">
                <button type="submit">Finish Interview</button>
            </form>
            {% endif %}
        </div>        
    </div>
    <div class="chat-sidebar-right">
        <div class="sidebar-right-header">
        </div>
            <i class="fas fa-clock"></i><span id="timer-value"></span>
            <div id="timer" data-duration="{{ duration }}" data-finish-url="{{ url_for('main.finish_chat', hr_id=hr_id, interview_id=interview_id, interview_parameter_id=interview_parameter_id, session_id=session_id, applicant_id=applicant.id) }}" data-finished="{{ 'true' if is_finished else 'false' }}" data-session-id="{{ session_id }}">
        </div>
    </div>
</div>
{% endblock %}
