{% extends 'base_admin_authenticated.html' %}

{% block title %}Admin Homepage{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="{{ url_for('static', filename='static/js/admin_logout.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/manage_windows.js') }}"></script>
<script src="{{ url_for('static', filename='static/js/sort_table.js') }}" defer></script>
<script src="{{ url_for('static', filename='static/js/confirmation.js') }}"></script>
<body>
    <div class="text-center">
        <h1>Welcome, {{ admin.name }} {{ admin.surname }}</h1>
        <h2>My Overview</h2>
    </div>
    <div class="kpi-container">
        <div class="kpi">
            <h4>Total HR's </h4>
            <p>{{ total_hr }}</p>
        </div>
        <div class="kpi">
            <h4>Total Interviews Created</h4>
            <p>{{ total_interviews }}</p>
        </div>
        <div class="kpi">
            <h4>Total Interviews Conducted</h4>
            <p>{{ total_sessions }}</p>
        </div>
    </div>
   <!-- Mean Ratings Section -->
   <div class="dashboard">
   <div class="mean-ratings">
    <h3>Mean Review Ratings per Question</h3>
    <div class="table-container">
    <table>
        <tr>
            <th>Question</th>
            <th>Mean Rating</th>
            <th>Number of Ratings</th>
        </tr>
        {% for question, data in question_ratings.items() %}
        <tr>
            <td>{{ question }}</td>
            <td>{{ data.avg_rating }}</td>
            <td>{{ data.rating_count }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>
    <div class="dashboard">
        <h2>My HR's</h2>
        <div class="scrollable-table">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th class="sortable">Name</td>
                        <th class="sortable">Surname</td>
                        <th class="sortable">Email</td>
                        <th>Company</th>
                        <th class="sortable">Date of Subscription</td>
                        <th class="sortable">Interviews</td>
                        <th class="sortable">Sessions</td>
                        <th>View Infos</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in hr_interview_session_data %}
                    <tr class="{% if not data.hr.confirmed %}pending{% endif %}">
                        <td>{{ data.hr.name }}</td>
                        <td>{{ data.hr.surname }}</td>
                        <td>{{ data.hr.email }}</td>
                        <td>{{ data.hr.company.name }}</td>
                        <td>{{ data.hr.created_at.strftime('%d.%m.%Y') }}</td>
                        <td>{{ data.interview_count }}</td>
                        <td>{{ data.session_count }}</td>
                        <td><a href="{{ url_for('admin.view_hr_info', hr_id=data.hr.id, admin_id=admin.id) }}">View Infos</a></td>
                        <td>
                            {% if not data.hr.confirmed %}
                            <a href="{{ url_for('admin.confirm_account', hr_id=data.hr.id, admin_id=admin.id) }}}" class="review-button">Review</a>
                            {% else %}
                            <form class="delete-hr-form" action="{{ url_for('admin.delete_hr', hr_id=data.hr.id) }}" method="POST">
                                <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <!-- Confirmation Modal -->
<div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p id="confirmation-message">Are you sure you want to perform this action?</p>
        <button id="confirm-yes">Yes</button>
        <button id="confirm-no">No</button>
    </div>
</div>
</body>
{% endblock %}



