{% extends 'base_hr_authenticated.html' %}
{% block title %}Comparison Details{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<script src="{{ url_for('static', filename='static/js/sort_table.js') }}" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="dashboard smaller-font">
    <h2>Sales interview for the {{interview_parameters.subrole}} position in the {{interview_parameters.industry}} industry</h2>
    <h2> Detailed comparaison for every applicants</h2>
    <div class="scrollable-table">
        <table id="comparison-table">
            <thead>
                <tr>
                    <th class="sortable" onclick="sortTable(0)">Name</th>
                    <th class="sortable" onclick="sortTable(1)">Surname</th>
                    <th class="sortable" onclick="sortTable(2)">Email</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(3, true)">Communication Skills</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(4, true)">Logical Reasoning & Structure and Problem Solving</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(5, true)">Creativity</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(6, true)">Business Acumen</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(7, true)">Analytical Skills</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(8, true)">Project Management and Prioritization</th>
                    <th class="sortable" style="width: 10%;" onclick="sortTable(9, true)">Mean Evaluation</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for session in comparison_data %}
                    <tr>
                        <td>{{ session.applicant_name }}</td>
                        <td>{{ session.applicant_surname }}</td>
                        <td>{{ session.applicant_email }}</td>
                        {% for criterion, value in session.criteria_scores.items() %}
                            <td data-value="{{ value }}">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" 
                                         style="width: {{ value * 10 }}%; 
                                                background-color: {{ get_color(value) }};" 
                                         aria-valuenow="{{ value * 10 }}" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                        <td data-value="{{ session.mean_score }}">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" 
                                     style="width: {{ session.mean_score * 10 }}%; 
                                            background-color: {{ get_color(session.mean_score) }};" 
                                     aria-valuenow="{{ session.mean_score * 10 }}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="{{ url_for('main.session_details', hr_id=hr_id, session_id=session.id) }}" style="text-decoration: none;">
                                <p><i class="fas fa-eye"></i> Details</p>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function sortTable(columnIndex, isNumeric = false) {
        const table = document.getElementById('comparison-table');
        const tbody = table.getElementsByTagName('tbody')[0];
        const rows = Array.from(tbody.rows);
        const ascending = table.dataset.sortOrder !== 'asc';

        rows.sort((a, b) => {
            const aValue = isNumeric ? parseFloat(a.cells[columnIndex].getAttribute('data-value')) : a.cells[columnIndex].textContent;
            const bValue = isNumeric ? parseFloat(b.cells[columnIndex].getAttribute('data-value')) : b.cells[columnIndex].textContent;

            return ascending ? (aValue > bValue ? 1 : -1) : (aValue < bValue ? 1 : -1);
        });

        rows.forEach(row => tbody.appendChild(row));
        table.dataset.sortOrder = ascending ? 'asc' : 'desc';
    }
</script>

{% endblock %}
