{% extends 'base_hr_authenticated.html' %}
{% block title %}Create Interview{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
    <h1>🧑‍🎨 Design Your Interview</h1>
    <form id="create-interview-form" action="{{ url_for('main.create_interview', hr_id=hr_id) }}" method="POST">

        <!-- Correct label for matching the ID -->
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="position"><strong>🖌️ What is the job title?</strong></label>
                <div>
                    <input type="text" id="position" name="position" placeholder="Enter the job title" required>
                </div>
            </div>
        </div>

        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="language"><strong>🌍 Select interview language </strong></label>
                <div class="select">
                    <select id="language" name="language" class="form-control" required>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Dutch">Dutch</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="duration"><strong>⏱️ Set interview duration </strong></label>
                <div class="select">
                    <select id="duration" name="duration" class="form-control" required>
                        <option value="1">1 minute</option>
                        <option value="2">2 minutes</option>
                        <option value="5">5 minutes</option>
                        <option value="10">10 minutes</option>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="industry-select"><strong>💻 Select relevant industry</strong></label>
                <div class="select">
                    <select id="industry-select" name="industry" class="form-control" required>
                        <option value="Blockchain/Web3">Blockchain/Web3</option>
                        <option value="FinTech">FinTech</option>
                        <option value="HR Tech">HR Tech</option>
                        <option value="Consulting">Consulting</option>
                        <option value="Banking & Finance">Banking & Finance</option>
                        <option value="e-Commerce">e-Commerce</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Retail">Retail</option>
                        <option value="EdTech">EdTech</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Other">Other (Please specify)</option>
                    </select>
                </div>
                <div id="other-industry-container" style="display: none; margin-top: 10px;">
                    <label for="other-industry">Please specify:</label>
                    <input type="text" id="other-industry" name="other_industry" class="form-control" placeholder="Enter the industry">
                </div>
            </div>
        </div>

        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="subrole-select"><strong>🧑‍💻 Select role type</strong></label>
                <div class="select">
                    <select id="subrole-select" name="subrole" class="form-control" required>
                        <option value="Business Development">Business Development</option>
                        <option value="Sales Development">Sales Development</option>
                        <option value="Account Management">Account Management</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Situation selection row -->
        <div class="kpi-container">
            <div class="interview-param-box">
                <label for="situations-select"><strong>🎯 Select one or multiple interview scenarios</strong></label>
                <!-- Info icon with tooltip -->
                <div class="info-icon" data-tooltip="Selecting one or multiple interview scenarios will enable you to ensure our AI engine generates sales simulations to test candidates that are the most relevant for what you are looking for." data-position="right">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="select">
                    <select id="situations-select" class="form-control">
                        <option value="" disabled selected>Select a scenario</option>
                        <!-- Options will be populated dynamically based on the selected role -->
                    </select>
                </div>
            </div>
        </div>

        <!-- Criteria Ponderation Section -->
        <div class="criteria-container">
            <div class="interview-param-box">
                <strong>⭐ (Optional) What is important for this role?</strong>
                <div class="criteria-list">
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Communication Skills</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_1" name="ponderation_1" value="3">
                        </fieldset>
                    </div>
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Logical Reasoning & Structure and Problem Solving</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_2" name="ponderation_2" value="3">
                        </fieldset>
                    </div>
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Creativity</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_3" name="ponderation_3" value="3">
                        </fieldset>
                    </div>
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Business Acumen</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_4" name="ponderation_4" value="3">
                        </fieldset>
                    </div>
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Analytical Skills</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_5" name="ponderation_5" value="3">
                        </fieldset>
                    </div>
                    <div class="criteria-item">
                        <fieldset>
                            <legend>Project Management & Prioritization</legend>
                            <div id="star-rating" class="star-rating" data-rating="3">
                                <span class="star" data-value="1">&#9733;</span>
                                <span class="star" data-value="2">&#9733;</span>
                                <span class="star" data-value="3">&#9733;</span>
                                <span class="star" data-value="4">&#9733;</span>
                                <span class="star" data-value="5">&#9733;</span>
                            </div>
                            <input type="hidden" id="ponderation_6" name="ponderation_6" value="3">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="kpi-container">
        </div>

        <div class="kpi-container">
            <div class="selected-situations">
                <strong>✅ Selected Situations</strong>
                <ul id="selected-situations">
                    <!-- Selected situations will be shown here -->
                </ul>
            </div>
        </div>


        <div class="create-button-container">
            <button type="submit" class="btn btn-primary create-interview-btn">✨ Create your AI interview</button>
        </div>
    </form>
</div>

<!-- Javascript code -->
<script>

    document.addEventListener("DOMContentLoaded", function() {
        const subRoleSelect = document.getElementById("subrole-select");
        const situationsSelect = document.getElementById("situations-select");
        const selectedSituationsList = document.getElementById("selected-situations");
        const interviewSituations = {{ interview_situations | tojson }};

        // Elements for ponderation (inputs and star ratings)
        const ponderationInputs = [
            document.querySelector('input[name="ponderation_1"]'),
            document.querySelector('input[name="ponderation_2"]'),
            document.querySelector('input[name="ponderation_3"]'),
            document.querySelector('input[name="ponderation_4"]'),
            document.querySelector('input[name="ponderation_5"]'),
            document.querySelector('input[name="ponderation_6"]')
        ];

        const starRatings = document.querySelectorAll(".star-rating");

        // Function to fill stars based on the rating
        function fillStars(starRating, rating) {
            const stars = starRating.querySelectorAll(".star");
            stars.forEach(star => {
                if (parseInt(star.dataset.value) <= rating) {
                    star.classList.add("selected");
                } else {
                    star.classList.remove("selected");
                }
            });
            starRating.dataset.rating = rating;
            starRating.nextElementSibling.value = rating;
        }

        // Initialize stars to 3 stars by default on page load
        starRatings.forEach((starRating) => {
            fillStars(starRating, 3); // Default to 3 stars when no situation is selected
        });

        // Event listener for clicking on a star to adjust the rating
        starRatings.forEach(starRating => {
            starRating.querySelectorAll(".star").forEach(star => {
                star.addEventListener("click", function() {
                    const rating = this.dataset.value;
                    fillStars(starRating, rating);
                });
            });
        });

        // Function to update star ratings based on the selected situation
        function updatePonderation(situation) {
            const role = "Sales";
            const subrole = subRoleSelect.value;
            const defaultPonderation = interviewSituations[role][subrole][situation] || [3, 3, 3, 3, 3, 3];
            starRatings.forEach((starRating, index) => {
                fillStars(starRating, defaultPonderation[index]);
            });
        }

        function resetPonderation() {
            starRatings.forEach((starRating) => {
                fillStars(starRating, 3);
            });
        }

        function populateSituations(subrole) {
            situationsSelect.innerHTML = '<option value="" disabled selected>Select a situation</option>';
            const salesSituations = interviewSituations["Sales"];
            if (subrole in salesSituations) {
                const subroleSituations = salesSituations[subrole];
                for (const situation in subroleSituations) {
                    const option = document.createElement("option");
                    option.value = situation;
                    option.text = situation;
                    situationsSelect.add(option);
                }
            }
        }

        function addSelectedSituation(situation) {
            const li = document.createElement("li");
            li.textContent = situation;
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = "situations";
            input.value = situation;
            li.appendChild(input);
            const removeButton = document.createElement("i");
            removeButton.classList.add("fas", "fa-times", "remove-btn");
            removeButton.addEventListener("click", () => {
                selectedSituationsList.removeChild(li);
                const option = document.createElement("option");
                option.value = situation;
                option.text = situation;
                situationsSelect.add(option);
                resetPonderation();
            });
            li.appendChild(removeButton);
            selectedSituationsList.appendChild(li);

            // Update ponderation based on the selected situation
            updatePonderation(situation);
        }

        subRoleSelect.addEventListener("change", function() {
            populateSituations(subRoleSelect.value);
            selectedSituationsList.innerHTML = ""; // Clear the selected situations when the role changes
            resetPonderation();
        });

        situationsSelect.addEventListener("change", function() {
            const selectedOption = situationsSelect.options[situationsSelect.selectedIndex];
            if (selectedOption.value !== "") {
                addSelectedSituation(selectedOption.value);
                situationsSelect.remove(situationsSelect.selectedIndex); // Remove the selected option from the dropdown

                // Reset the dropdown to show "Select a situation" without adding it as a new option
                situationsSelect.selectedIndex = 0;
            }
        });

        populateSituations(subRoleSelect.value);
    });


    document.addEventListener("DOMContentLoaded", function() {
        const industrySelect = document.getElementById("industry-select");
        const otherIndustryContainer = document.getElementById("other-industry-container");

        industrySelect.addEventListener("change", function() {
            if (industrySelect.value === "Other") {
                otherIndustryContainer.style.display = "block";
            } else {
                otherIndustryContainer.style.display = "none";
            }
        });
    });


    document.getElementById("create-interview-form").addEventListener("submit", async function(event) {
        event.preventDefault();  // Prevent the default form submission

        const form = document.getElementById("create-interview-form");
    
        // Log to check if the form submission is triggered
        console.log("Form submission triggered");
    
        // Collect form data
        const formData = {
            position: document.getElementById("position").value,
            language: document.getElementById("language").value,
            duration: document.getElementById("duration").value,
            industry: document.getElementById("industry-select").value,
            other_industry: document.getElementById("other-industry").value,
            subrole: document.getElementById("subrole-select").value,
            ponderation_1: document.getElementById("ponderation_1").value,
            ponderation_2: document.getElementById("ponderation_2").value,
            ponderation_3: document.getElementById("ponderation_3").value,
            ponderation_4: document.getElementById("ponderation_4").value,
            ponderation_5: document.getElementById("ponderation_5").value,
            ponderation_6: document.getElementById("ponderation_6").value,
            situations: Array.from(document.querySelectorAll('input[name="situations"]')).map(input => input.value)
        };
    
        console.log("Form data collected:", formData);
    
        try {
            // Retrieve the JWT token from localStorage
            const token = localStorage.getItem('access_token');
            if (!token) {
                throw new Error("JWT token not found. Please log in again.");
            }
    
            console.log("JWT token retrieved:", token);
    
            const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`  // Include the JWT token in the Authorization header
                },
                body: JSON.stringify(formData),
                credentials: 'include'  // Send cookies with the request
            });
    
            console.log("Response received:", response);
    
            if (response.ok) {
                const data = await response.json();
                window.location.href = data.redirect_url;  // Redirect on successful submission
            } else {
                const errorText = await response.text();
                console.error("An error occurred:", errorText);
                alert("An error occurred. Please try again.");
            }
        } catch (error) {
            console.error("Error submitting form:", error.message);
            alert("An error occurred while submitting the form.");
        }
    });
    

    
</script>
    

        

        
{% endblock %}