<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tunz AI{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles.css') }}">
    <script src="{{ url_for('static', filename='static/js/base.js') }}"></script>
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <div class="sidebar-top">
            <a href="{{ url_for('main.home', hr_id=hr_id) }}"><i class="fas fa-home"></i> Home</a>
            <a href="{{ url_for('main.create_interview', hr_id=hr_id) }}"><i class="fas fa-plus-circle"></i> Create New Interview</a>
        </div>
        <a href="{{ url_for('auth.logout') }}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    
    <div class="main-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
